platform/msvc2008/libbox2d/
platform/msvc2008/libloveandroid/
platform/msvc2008/love_android/
platform/msvc2008/libloveandroid2/
platform/msvc2008/love_android2/
platform/msvc2008/projectes/demo_back/
platform/msvc2008/projectes/demo/
!platform/msvc2008/projectes/demo/libraries/
!platform/msvc2008/projectes/demo/scene/
!platform/msvc2008/projectes/demo/tools/
src/android/gles/assets/
src/android/gles/bin/
src/android/gles/gen/
src/android/gles/libs/
src/android/gles/obj/
src/android/gles2/assets/
src/android/gles2/bin/
src/android/gles2/gen/
src/android/gles2/libs/
src/android/gles2/obj/